<div class="content-block">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="dataSourceUser"
    [showBorders]="true">
    <dxo-search-panel [visible]="true"
                      [width]="300">

    </dxo-search-panel>
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-paging [pageSize]="5"> </dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="true"
      [showInfo]=true
      [showNavigationButtons]=true
    >
    </dxo-pager>
    <dxo-editing
      mode="row"
      [allowUpdating]="true"
      [allowAdding]="true"
      [allowDeleting]="true">
    </dxo-editing>
    <!-- COLUMNS -->
    <dxi-column dataField="id" caption="Id" [visible]="false">
    </dxi-column>
    <!-- Ativo -->
    <dxi-column dataField="email" caption="Email">
    </dxi-column>
    <!-- Nome -->
    <dxi-column dataField="first_name" caption="Primeiro nome">
    </dxi-column>
    <!-- User Name -->
    <dxi-column dataField="last_name" caption="Ultimo nome">
    </dxi-column>
  </dx-data-grid>
</div>
